extends ../layouts/main-layout.jade
block title
    title Морской бой | Главная страница

block content
        include ../common/header.jade
        div#fullpage
            mixin page(section, anchor)
                -var classes = ['section', section]
                div(class=classes, data-anchor=anchor)
                    .section-container
                        .inner
                            block
            +page("main-page", "main")
                        .intro
                            .intro-title Морской бой
                            div.intro-content
                                | Онлайн версия знаменитой настольной игры, в которую играл, пожалуй, каждый.
                                | Расставь корабли на поле боя! Огонь! Победит сильнейший!
                            a.start-game-btn(href="#") Начать игру

            +page("about-page", "about")
                        .team
                            mixin person(name, photo, position)
                                div.person
                                    div.person-photo-block
                                        img.person-photo(src=photo, alt=name, title=name)
                                    div.person-info
                                        div.person-title=name
                                        div.person-description=position
                            +person("Пулич Алексей", "img/persons/alexpulich.jpg", "Frontend")
                            +person("Соловьёв Антон", "img/persons/anton.jpg", "Client-Server")
                            +person("Пашнин Александр", "img/persons/pashnin.jpg", "DB, Users")
                            +person("Ходиков Георгий", "img/persons/hodikov.jpg", "Разработка ИИ")